<div class="flex justify-center mt-8 p-8">
    <form  class="shadow border w-4/12 p-4">


        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Title</mat-label>
                <input matInput type="text" name="title" [(ngModel)]="editBook.title">
            </mat-form-field>
        </div>


        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Description</mat-label>
                <input type="text" name="description" matInput [(ngModel)]="editBook.description">
            </mat-form-field>
        </div>


        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Choose Category</mat-label>
                <mat-select name="Category" [(ngModel)]="categoryId" [(value)]="selected">
                    @for (item of categoryObject; track item) {
                        <mat-option [value]="item.id">{{item.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>


        <div class="flex justify-around">
            <button mat-raised-button (click)="toHome()">Cancel</button>
            <button mat-raised-button (click)="edit()" color="primary">Edit</button>
        </div>
    </form>
</div>