<div class="flex mt-8 justify-center">
    <mat-card class="shadow W-4/12">
        <mat-card-content>
            <div class="p-8">
                <h2 class="text-3x1 font-bold mb-4">{{ book.title }}</h2> 
                <p class="text-gray-700">{{ book.description }}</p>
                <div class="mt-4">
                    <span class="text-gray-600">Category:</span>
                    <mat-chip class="m1-2"> {{book.category.name}} </mat-chip>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div> 